<style>
.button {
  background: #76B3FA;
  border-radius: 100px;
  padding: 20px 60px;
  color: #fff;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px;
}

/* Hover state animation applied here */
.button:hover {
  -webkit-animation: hover 1200ms linear 2 alternate;
  animation: hover 1200ms linear 2 alternate;
}

/* Active state animation applied here */
.button:active {
  -webkit-animation: active 1200ms ease 1 alternate;
  animation: active 1200ms ease 1 alternate;
  background: #5F9BE0;}
</style>
<% if current_user %>
  <% if current_user.admin%>

    <h1>Editing News</h1>

    <%= render 'form', news: @news %>

    <%= link_to 'Show', @news, class: "button" %> |
    <%= link_to 'Back', news_index_path, class: "button" %>
  <% else %>
    <% redirect_to news_index_path %>
  <% end %>
<% else %>
  <% redirect_to news_index_path %>
<% end %>
